table {
    border-collapse: collapse;
    margin-bottom: 40px;
}

th {
    border: 1px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    text-align: center;
}

.lottie {
    margin: 0 auto;
}

.details {
    width: 100%;
}

.details-header {
    word-wrap: break-word;
}

.details-header>p {
    font-size: 1rem;
}

.details-header>h4 {
    margin: 10px 0 0 0;
}

.close-button {
    cursor: pointer;
    font-size: 1rem;
    width: 70px;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 6px;
}

.close-button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.column-title {
    font-size: 1.3rem;
    text-align: center;
}

.table-body {
    font-size: 1.2rem;
}